{% extends 'base/base.html' %}
{% load static %}
{% block header %}
    <body class="homepage is-preload">
    <div id="page-wrapper">

    <!-- Header -->
    <div id="header">

    <!-- Inner -->
    <div class="inner">
        <header>
            <h1><a href="{% url 'home' %}" id="logo">ZZIGSA</a></h1>
            <hr/>
            <p>마음에 드는 사진을 찍기 위해 작가를 만나보세요!</p>
        </header>
    </div>
{% endblock %}

{% block main %}

    <!-- Banner -->
    <section id="banner">
        <header>
            <h2>현재 활동하고있는 <strong>작가</strong>들입니다.</h2>
            <p>
                마음에 드는 작가를 찾아보세요
            </p>
        </header>
    </section>

    <!-- Carousel -->
    <section class="carousel">
        <div class="reel">

            <article>
                <a href="product.html" class="image featured"><img src="{% static 'images/carousel01.jpg' %}" alt=""/></a>
                <header>
                    <h3><a href="product.html">상품이름</a></h3>
                </header>
                <p>상품간단설명</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="{% static 'images/carousel02.jpg' %}" alt=""/></a>
                <header>
                    <h3><a href="#">상품이름2</a></h3>
                </header>
                <p>상품 간단설명</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="{% static 'images/carousel03.jpg' %}" alt=""/></a>
                <header>
                    <h3><a href="#">상품이름3</a></h3>
                </header>
                <p>상품 간단설명</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="{% static 'images/carousel04.jpg' %}" alt=""/></a>
                <header>
                    <h3><a href="#">상품이름4</a></h3>
                </header>
                <p>상품 간단설명</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="{% static 'images/carousel05.jpg' %}" alt=""/></a>
                <header>
                    <h3><a href="#">상품이름5</a></h3>
                </header>
                <p>상품 간단설명</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="{% static 'images/carousel06.jpg' %}" alt=""/></a>
                <header>
                    <h3><a href="#">상품이름6</a></h3>
                </header>
                <p>상품 간단설명</p>
            </article>
        </div>
    </section>
    <section class="contact" style="text-align: center">
        <header>
            <h3>사진작가로 활동해보시는 건 어떠신가요?</h3>
        </header>
        <p style="text-align: center">누구나 사진작가가 될 수 있습니다.</p>
        <p style="text-align: center;margin: 0 auto"><a href="" class="button">작가 등록하러 가기</a></p>
    </section>
{% endblock %}