{% extends 'base/base.html' %}
{% load static %}
{% block header %}

    <body class="homepage is-preload">
    <div id="page-wrapper">

    <!-- Header -->
    <div id="header">

    <!-- Inner -->
    <div class="inner">
        <header>
            <h1><a href="{% url 'home' %}" id="logo">ZZIGSA</a></h1>
            <hr/>
            <p>마음에 드는 사진을 찍기 위해 작가를 만나보세요!</p>
        </header>
        <footer>
            <a href="product_assemble.html" class="button circled scrolly">Search</a>
        </footer>
    </div>
{% endblock %}

{% block main %}

    <!-- Banner -->
    <section id="banner">
        <header>
            <h2>현재 활동하고있는 <strong>작가</strong>들입니다.</h2>
            <p>
                마음에 드는 작가를 찾아보세요
            </p>
        </header>
    </section>

    <!-- Carousel -->
    <section class="carousel">
        <div class="reel">

            <article>
                <a href="product.html" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
                <header>
                    <h3><a href="product.html">상품이름</a></h3>
                </header>
                <p>상품간단설명</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic02.jpg" alt=""/></a>
                <header>
                    <h3><a href="#">Fermentum sagittis proin</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic03.jpg" alt=""/></a>
                <header>
                    <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic04.jpg" alt=""/></a>
                <header>
                    <h3><a href="#">Ultrices urna sit lobortis</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic05.jpg" alt=""/></a>
                <header>
                    <h3><a href="#">Varius magnis sollicitudin</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
                <header>
                    <h3><a href="#">Pulvinar sagittis congue</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic02.jpg" alt=""/></a>
                <header>
                    <h3><a href="#">Fermentum sagittis proin</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic03.jpg" alt=""/></a>
                <header>
                    <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic04.jpg" alt=""/></a>
                <header>
                    <h3><a href="#">Ultrices urna sit lobortis</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic05.jpg" alt=""/></a>
                <header>
                    <h3><a href="#">Varius magnis sollicitudin</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

        </div>
    </section>

    <!-- Main -->
    <div class="wrapper style2">

        <article id="main" class="container special">
            <a href="#" class="image featured"><img src="images/test_low.jpg" alt=""/></a>
            <header>
                <h2><a href="https://ko.wikipedia.org/wiki/%EC%A0%84%EC%A3%BC%ED%95%9C%EC%98%A5%EB%A7%88%EC%9D%84"
                       target="_blank">여행
                    찾는곳을 찾으신다면 <strong>전주</strong>로 놀러가시는건 어떠신가요?</a></h2>
                <p>
                    전주에서 유명한 전주 한옥마을 입니다.
                </p>
            </header>
            <p>
                한옥이 밀집되어 있는 마을. 사실 아직 '한옥마을'이 무엇인가에 대한 진지한 논의는 아직 이루어지지 않았다. 다만 일반적으로는 문화재보호법에 의거하여 민속마을 등으로 지정된
                '전통한옥마을'이나 역사경관의 관점에서 보존할만한 가치가 있으나 현재 문화재보호법으로 규정되어 있지 않은 일상적인 한옥주거지인 '한옥보존지구'와는 달리, 역사적 의미나 건축의 문화재적
                가치와는 무관하게 한옥이 밀집되어있는 공간을 '한옥마을'이라고 부르고 있다.
            </p>
            <footer>
                <a href="https://ko.wikipedia.org/wiki/%EC%A0%84%EC%A3%BC%ED%95%9C%EC%98%A5%EB%A7%88%EC%9D%84"
                   target="_blank" class="button">Continue Reading</a>
            </footer>
        </article>

    </div>
{% endblock %}