{% extends 'base/base.html' %}
{% load static %}
{% block header %}
    <body class="no-sidebar is-preload">
    <div id="page-wrapper">

    <!-- Header -->
    <div id="header">

    <!-- Inner -->
    <div class="inner">
        <header>
            <h1><a href="{% url 'home' %}" id="logo">ZZIGSA</a></h1>
        </header>
    </div>
{% endblock %}

{% block main %}

    <!-- Main -->
    <div class="wrapper style1">

        <div class="container">
            무엇을 구현하고 필터링 해야할까요? + 페이지네이션
            <hr/>
            <div class="row">
                <article class="col-4 col-12-mobile special">
                    <a href="product.html" class="image featured"><img src="{% static 'images/carousel01.jpg' %}"
                                                                       alt=""/></a>
                    <header>
                        <h3><a href="product.html">작가 늘어날 때마다 하나씩 추가 (상품이름)</a></h3>
                    </header>
                    <p>
                        상품간단설명
                    </p>
                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="#" class="image featured"><img src="{% static 'images/carousel02.jpg' %}" alt=""/></a>
                    <header>
                        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                    </header>
                    <p>
                        Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor
                        etiam
                        porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer
                        interdum.
                    </p>
                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="#" class="image featured"><img src="{% static 'images/carousel03.jpg' %}" alt=""/></a>
                    <header>
                        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                    </header>
                    <p>
                        Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor
                        etiam
                        porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer
                        interdum.
                    </p>
                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="#" class="image featured"><img src="{% static 'images/carousel04.jpg' %}" alt=""/></a>
                    <header>
                        <h3><a href="#">Magna laoreet et aliquam</a></h3>
                    </header>
                    <p>
                        Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor
                        etiam
                        porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer
                        interdum.
                    </p>
                </article>
            </div>
        </div>

    </div>
{% endblock %}