{% extends 'base/base.html' %}
{% load static %}

{% block header %}
    <body class="left-sidebar is-preload">
    <div id="page-wrapper">

    <!-- Header -->
    <div id="header">

    <!-- Inner -->
    <div class="inner">
        <header>
            <h1><a href="{% url 'home' %}" id="logo">ZZIGSA</a></h1>
        </header>
    </div>
{% endblock %}

{% block main %}
    <!-- Main -->
    <div class="wrapper style1">

        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-mobile" id="sidebar">
                    <hr class="first"/>
                    <a href="">쪽지</a>
                    <hr>
                    <a href="{% url 'users:update' %}">개인정보 수정</a>
                    <hr>
                    <a href="{% url 'users:password' %}">비밀번호 변경</a>
                    <hr>
                    <a href="">회원탈퇴</a>
                </div>
                <div class="col-8 col-12-mobile imp-mobile" id="content">
                    <article id="main">
                        <header>
                            <h2><a href="#">My Page</a></h2>
                            <p>
                                {{ user.nickname }}의 마이페이지에 오신걸 환경합니다
                            </p>
                        </header>

                        <div>
                            <h1>회원 정보</h1>
                            <br>
                            <p>닉네임 : {{ user.nickname }}</p>
                            <br>
                            <br>
                            <p>
                                찍사 :

                                {% if user.zzigsa == "approved" %}
                                    찍사입니다.
                                {% elif user.zzigsa == "not yet" %}
                                    찍사 신청 완료 상태. 운영자가 승인을 검토중입니다.
                                {% else %}
                                    찍사가 아닙니다.
                                {% endif %}
                            </p>
                        </div>
                        <br>
                        <br>
                        {% if user.zzigsa == "approved" %}
                            <div>
{#                                <h1>찍사 등록 정보</h1>#}
{#                                <p>아직 구현 x</p>#}
                                <div><a href="#">찍사 프로필 관리</a></div>
                                <h1>스케줄 현황</h1>
                                <img src="{% static 'images/calander.png' %}" alt="">
                            </div>
                        {% elif user.zzigsa == "not yet" %}
                            <div>
                                <h1>찍사 신청 완료 상태. 운영자가 승인을 검토중입니다.</h1>
                                <p>찍사 신청한 내용 보이게 하면 좋을 듯</p>
                            </div>
                        {% elif user.zzigsa == "denied" %}
                            <div>
                                <h1>구매 이력</h1>
                                <p>아직 구현 x</p>
                            </div>
                        {% endif %}
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}